<form action="search" method="get" class="search-box">
  <div class="input-append application-title">
    <div class="date-range">
      <label>開始期間　<input type="date" class="span2" name="start_time"></label>
      <label>終了期間　<input type="date" class="span2" name="end_time"></label>
      <label><span class="help-block">※ 全期間検索の場合は未入力にしてください。</span></label>
    </div>
    <input type="text" class="span4" name="q">
    <button type="submit" class="btn">Search</button>
  </div>
</form>
